<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729808881767-eim3gbrd5jhv4p8vd3r1hoaufpeo5k29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729808881767-eim3gbrd5jhv4p8vd3r1hoaufpeo5k29</string>
	<key>API_KEY</key>
	<string>AIzaSyClcX6SeS2XesdaX_uWnXXGLsW19sRtTOY</string>
	<key>GCM_SENDER_ID</key>
	<string>729808881767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sebiCar</string>
	<key>PROJECT_ID</key>
	<string>sebi-car</string>
	<key>STORAGE_BUCKET</key>
	<string>sebi-car.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729808881767:ios:ec222b2851e57a41dcacc2</string>
</dict>
</plist>